<ion-view view-title="Add Event">

  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button class=" button button-icon ion-ios-arrow-left" ui-sref="tab.co"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content ng-style="{ 'background-image': 'url(img/cowork.jpg)' }" id="backgroundCo">

    <div class="box">
      <h3 class="addEvent-title">Skapa nytt event</h3>
    </div>

    <!-- <div class="box addEvent"> -->

      <!-- <form ng-submit="sendPost()" name="validEvent">

        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Eventnamn</span>
            <input type="text" placeholder="ex. Staff meeting" ng-model="event.title" required>
          </label>

          <label class="item item-input item-stacked-label">
            <span class="input-label">Ditt namn</span>
            <input type="text" placeholder="Kalle Kula" ng-model="event.author" required>
          </label>

          <label class="item item-input item-stacked-label">
            <span class="input-label">Beskrivning</span>
            <input type="text" placeholder="Beskriv ditt event" ng-model="event.text" required>
          </label>
          <!--
        <label class="item item-input item-stacked-label">
          <span class="input-label">Plats</span>
          <input type="text" placeholder="Djakne" ng-model="event.text">
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Tid</span>
          <input type="time" placeholder="10:00:00" ng-model="event.date">
        </label>


          <label class="item item-input item-stacked-label">
            <span class="input-label">Datum och tid</span>
            <input type="text" placeholder="2016-06-10 08:00" ng-model="event.date" required>
          </label>

        </div>
        <div class="text-center padding">
          <button type="submit" name="name" ng-disabled="!validEvent.$valid" class="button button-dark" id="cowork">
            Lägg till event
          </button>
          <p ng-hide="validEvent.$valid" ng-style="{color: 'red'}">Fyll i alla fält</p>
        </div>
    </div> -->
<form id="addEventForm" ng-submit="sendPost()" name="validEvent">
  <div class="list">
    <label class="item item-input">
      <input type="text" placeholder="Event name" ng-model="event.title" required>
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Event description" ng-model="event.text" required>
      <!-- <textarea rows="3" cols="50" placeholder="Event description" ng-model="event.text" required></textarea> -->
    </label>
    <label class="item item-input">
      <input type="email" placeholder="Email" ng-model="event.email" required>
    </label>
    <label class="item item-input">
      <input type="date" placeholder="ex 2016-06-10" ng-model="event.date" required>
    </label>
    <label class="item item-input">
      <input type="time" placeholder="ex 10:00" ng-model="event.time" required>
    </label>
   <div class="padding">
     <button type="submit" name="name" ng-disabled="!validEvent.$valid" class="button button-block addevent" id="cowork">
       Submit
     </button>
    </div>
  </div>
</form>


  </ion-content>

</ion-view>
