<ion-view view-title="Add Event">

  <ion-content>
  <h1> Skapa nytt event</h1>

    <form ng-submit="sendPost()">
          <div class="list">
              <label class="item item-input item-stacked-label">
                <span class="input-label">Namn på event</span>
                <input type="text" placeholder="How to get your business growing" ng-model="event.title">
              </label>

              <label class="item item-input item-stacked-label">
                <span class="input-label">Ditt namn</span>
                <input type="text" placeholder="Kalle Kula" ng-model="event.author">
              </label>

              <label class="item item-input item-stacked-label">
                <span class="input-label">Beskrivning</span>
                <input type="text" placeholder="Kalle Kula" ng-model="event.text">
              </label>

              <label class="item item-input item-stacked-label">
                <span class="input-label">Datum</span>
                <input type="text" placeholder="kalle@djakne.com" ng-model="event.date">
              </label>

          </div>

          <button type="submit" name="name" class="button button-block button-positive">

          Skapa event
          </button>

    </form>

  </ion-content>

</ion-view>
