<ion-content overflow-scroll="false" class="expandList" ng-controller="EventController">
  <!-- Refresher -->
  <ion-refresher on-refresh="doEventRefresh()">

  </ion-refresher>
  <!-- Page content -->
  <button class="button button-clear button-full event" ui-sref="addEvent">ADD EVENT</button>
  <ion-list>
    <ion-item class="newEvents" ng-repeat="event in events | orderBy: date" ng-click="go('event', event)">
      <div id="bookingsDateContainer">
        <div class="dateBox">
          <p id="bookingDay" class="bookingsDate">{{event.date | date : 'd'}}</p>
          <p id="bookingMonth" class="bookingsDate">{{event.date | date : 'MMM'}}</p>
        </div>
      </div>
      <div id="bookingsDesc">
        <h3>{{event.title | limitTo:40}}</h3>
        <h4><p ng-if="event.location">{{event.location}}</p></h4>
        <h4><p ng-if="!event.location">Djäkne</p></h4>
      </div>
      <hr>
      <!-- <p id="infoText">{{event.text}}</p> -->
    </ion-item>
  </ion-list>
</ion-content>
