<ion-view view-title="Event">
  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button class=" button button-icon ion-ios-arrow-left" ui-sref="eventMain"></button>
    </ion-nav-buttons>
  </ion-nav-bar>


    <div class="list padding">

      <h3>{{chosenEvent.title}}</h3>


    <div class="list padding test">

      <h3>{{chosenEvent.title}}</h3>
      <h5 class="dateDescs">Datum: {{chosenEvent.date | date:'MM/dd/yyyy'}}</h5>



    <div class="list">

        <h4>Description:</h4>
        <p class="cardDescs">{{chosenEvent.text}}</p>

    </div>
    </div>

    </div>


  <div class="text-center padding">
    <button class="button button-block" id="attend" ng-click="signUp()"> Sign up</button>
  </div>

  </ion-content>
</ion-view>
