<ion-content overflow-scroll="true" class="expandList" ng-controller="EventController">
  <ion-refresher on-refresh="doEventRefresh()" disable-pulling-rotation="false">

  </ion-refresher>
  <ion-list>
    <ion-item class="newEvents" ng-repeat="event in events">
      <div id="bookingsDateContainer">
        <div class="dateBox">
          <p id="bookingDay" class="bookingsDate">{{event.date | date : 'd'}}</p>
          <p id="bookingMonth" class="bookingsDate">{{event.date | date : 'MMM'}}</p>
        </div>
      </div>
      <div id="bookingsDesc">
        <h3>{{event.title}}</h3>
        <h4>{{event.location}}</h4>
      </div>
      <hr>
      <p id="infoText" ng-style="show ? {'height' : 'auto'} : {'height' : '1.5em'}">{{event.text}}</p>
      <h2 ng-show="show">At:</h2>
      <p ng-show="show">Lomma Beach House</p>
      <p ng-show="show">12:00, {{event.date | date : shortTime}}</p>
      <h2 id="attending" ng-show="show">Attending:</h2>
      <div id="attendants" ng-show="show">
        <img ng-repeat="attendant in event.attendants" id="attendImg" ng-src="data:image/gif;base64,{{attendant.image}}" ng-if="attendant.image != false"</img>
      </div>
      <h2 id="comment" ng-show="show">Comments:</h2>
      <div id="comments" ng-show="show">
        <div ng-repeat="comment in event.comments" class="list">
          <img class="commentImg" ng-src="data:image/gif;base64,{{comment.userImage}}" ng-if="attendant.image != false"</img>
          <p>{{comment.comment}}</p>
        </div>
      </div>
      <!-- Comment input container -->
      <div ng-show="show" ng-style="{'margin-top': '25px'}">
        <img class="commentImg" ng-src="data:image/jpeg;base64,{{user.image}} "></img>
        <!-- data:image/jpeg;base64,{{member.image}} -->
        <input ng-model="userComment.text" class="commentContent" type="text" placeholder="Write your comment here.."> <!-- User input --> </input>
      </div>
      <button ng-show="show" ng-click="addComment(event._id); $event.stopPropagation()" ng-disabled="!userComment.text" class=" addComment button-small button-dark button button-outline"> Add Comment </button>
      <button id="center" class="button button-small button-outline button-dark" ng-click="show = !show" ng-style="show ? {'margin-top':'52px'} : {'margin-top':'15px'}">
        <p ng-if="!show">See more</p>
        <p ng-if="show">See less</p>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
