<ion-view view-title="Event">
  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button class=" button button-icon ion-ios-arrow-left" ui-sref="eventMain"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

 <div class="box eventDescription">
    <div class="list">

    <div class="list padding test">

      <h3>{{chosenEvent.title}}</h3>
      <h4>Datum: {{chosenEvent.date | date:'MM/dd/yyyy'}}</h4>


    <div class="item item-body border">
      <img class="full-image" src="img/coWorking.png">
    </div>

    <div class="list">

        <h4>Description:</h4>
        <p class="cardDescs">{{chosenEvent.text}}</p>

    </div>
    </div>

    </div>

  </div>

  <div class="text-center padding">
    <button class="button button-block" id="attend" ng-click="signUp()"> Sign up</button>
  </div>

  </ion-content>
</ion-view>
