<ion-view view-title="Events">

  <ion-nav-bar>
  <ion-nav-buttons side="left">
    <button class="button button-icon ion-ios-arrow-left" ui-sref="tab.co"></button>
  </ion-nav-buttons>
</ion-nav-bar>

    <ion-content ng-style="{ 'background-image': 'url(img/cowork.jpg)' }" id="backgroundCo">

    <div class="box">
      <h2 class="social-title">Upcoming events</h2>
    </div>
    <button type="button" ng-click="openDatePicker()" name="button">datum</button>

      <div class="text-center padding">
        <a id="cowork" ui-sref="addEvent">
          <i class="ion-plus-circled larger"></i>
        </a>
      </div>

        <!-- <a class="item item-thumbnail-left"
           ui-sref="events_description"
           ng-click="setEvent(event)">


        <div class="thumbnail padding">

            <h2>{{ event.title }}</h2>
            <h3>{{ event.date | date:'MM/dd/yyyy' }}</h3>
            <p class="cardDescs">{{event.text}}</p>

        </div>

        </a> -->
        <div class="card padding" ng-repeat="event in events">
          <h4>{{ event.title }}</h4>
          <h6>{{ event.date | date:'MM/dd/yyyy' }}</h6>
          <hr>
          <p>{{event.text}}</p>
          <img src="{{event.attendants}}" ng-show="show" ng-if="event.attendants != false"</img>
          <p ng-show="show">Location: {{event.location}}</p>
          <button class="button button-small button-dark" id="cowork" ng-click="signUp()" ng-show="show"> Sign up</button>
          <button class="button button-small button-clear" ng-click="show = !show">
            <p ng-if="!show">See more</p>
            <p ng-if="show">See less</p>
          </button>
        </div>

  </ion-content>

</ion-view>
