<ion-view hide-nav-bar="true">
  <div class="login-container text-center">
    <h1>Djäkne</h1>
    <h6>Startup Studios</h6>
  </div>
  <ion-slide-box on-slide-changed="slideChanged(index)">

    <ion-slide class="login text-center" ng-repeat="image in gallery" ng-style="{ 'background-image': 'url(' + image.url + ')' }">
      <div class="text-login-container">
        <h3>{{image.title}}</h3>
        <p>{{image.desc}}</p>
      </div>
    </ion-slide>

  </ion-slide-box>
  <div class="login-button-container text-center" ng-click="login()">
    <button class="button icon-right ion-social-linkedin button-positive btn" type="submit">
      Sign in with <b>Linked<b>
    </button>
  </div>

</ion-view>
