<ion-view view-title="Medlemskap">

  <ion-nav-bar>
    <ion-content ng-style="{ 'background-image': 'url(img/cowork.jpg)' }" id="backgroundCo">

    <ion-nav-buttons side="left">
      <button class="button button-icon ion-ios-arrow-left" ui-sref="tab.co"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

    <ion-content>

  <div class="box">

    <h2 class="social-title">Våra medlemskap</h2>

  </div>

  <div class="item-image padding" id="benefits">
  <img src="img/medlemskap.png">
  </div>

  <div class="card">
   <div class="item">
      <h4>Premium</h4>
      <p>Premium är för dig som blabla</p>
      <hr>
      <p>
        Finkaffe
      </p>
      <p>
        Beställa kaffe via appen
      </p>
      <p>
        Arbetsyta på bottenplan
      </p>

   </div>

   <div class="item item-text-wrap">
      This is a Ionic card with item-text-wrap class.
   </div>
</div>

    </ion-content>

</ion-view>
