<ion-view view-title="Medlemskap">

  <ion-nav-bar>
    <ion-content ng-style="{ 'background-image': 'url(img/cowork.jpg)' }" id="backgroundCo">

    <ion-nav-buttons side="left">
      <button class="button button-icon ion-ios-arrow-left" ui-sref="tab.co"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

    <ion-content>

  <div class="box">

    <h2 class="social-title">Våra medlemskap</h2>

  </div>

  <div class="item-image padding" id="benefits">
  <img src="img/medlemskap.png">
  </div>

    </ion-content>

</ion-view>
