<ion-view view-title="Profile">
  <ion-nav-buttons side="left">
    <button ui-sref="tab.home" class=" button button-icon ion-ios-arrow-left"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
      <button class="button icon-left ion-log-out button" ng-click="logout()">Logout</button>
  </ion-nav-buttons>
  <ion-content>
    <div class="hero text-center" style="background: #444">
      <div class="content">
        <div class="avatar" style="background-image: url(data:image/gif;base64,{{user.image}}) ;"></div>
        <p><a id="profileTitle">{{user.firstName}} {{user.lastName}}</a></p>
      </div>
    </div>
    <ion-list>
      <ion-item class="profileItem" >
        <span class="ion-cash"></span>
        <div>
          <span class="item-note">
            Your credit is: {{user.credits}}
          </span>
        </div>
      </ion-item>

      <ion-item ng-show="wifiPremium" class="profileItem">
        <span  class="ion-wifi"></span>
        <div>
          <span class="item-note">
            Wifi: {{wifiPremium.wifiName}}
          </span>
          <span class="item-note">
           Password: {{wifiPremium.wifiPassword}}
          </span>

        </div>
      </ion-item>
      <ion-item ng-hide="wifiPremium" class="profileItem">
      <span  class="ion-wifi"></span>
        <div>
          <span class="item-note">
            Wifi: {{wifiMember.wifiName}}
          </span>
          <span class="item-note">
          Password: {{wifiMember.wifiPassword}}
          </span>

        </div>
      </ion-item>
      <ion-toggle class="toggleSpecials" ng-repeat="item in orderSettings" ng-model="item.checked" ng-checked="item.checked" ng-change="change(item.name,'true')"><h3>{{item.name}}</h3></ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>
