<ion-view view-title="Profile">
  <ion-nav-buttons side="left">
    <button ui-sref="tab.home" class=" button button-icon ion-ios-arrow-left"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
      <button class="button icon-left ion-log-out button" ng-click="logout()">Logout</button>
  </ion-nav-buttons>
  <ion-content>
    <div class="hero text-center" style="background: #444">
      <div class="content">
        <div class="avatar" style="background-image: url(data:image/gif;base64,{{user.image}}) ;"></div>
        <p><a id="profileTitle">{{user.firstName}} {{user.lastName}}</a></p>
      </div>
    </div>
    <ion-list>
      <ion-toggle class="toggleSpecials" ng-repeat="item in orderSettings" ng-model="item.checked" ng-checked="item.checked" ng-change="change(item.name,'true')"><h3>{{item.name}}</h3></ion-toggle>
      <div class="row" style="border-top:1px solid lightgrey; border-bottom:1px solid grey">
        <div class="col col-50">
          <span class="ion-card" id="profileIcons"></span>
          <p class="profileDisplay" style="margin-top: 8px">Your credit is: {{user.credits}}</p>
        </div>
        <div class="col col-50 wifi" ng-show="wifiPremium">
          <img src="img/Icons/wifi_NoBG.png" class="profileIcons" />
          <p class="profileDisplay"  style="margin-top: 8px">{{wifiPremium.wifiName}}</p>
          <p class="profileDisplay" style="margin-top: -8px">{{wifiPremium.wifiPassword}}</p>
        </div>
       <div class="col col-50" ng-hide="wifiPremium">
         <span  class="ion-wifi" id="profileIcons"></span>
         <!-- <img src="img/Icons/wifi_NoBG.png" class="profileIcons"/> -->
         <p class="profileDisplay"  style="margin-top: 8px">{{wifiMember.wifiName}}</p>
         <p class="profileDisplay" style="margin-top: -12px">{{wifiMember.wifiPassword}}</p>
       </div>

      </div>
      <!-- <ion-item class="profileItem" id="creditInfo" style="border-top:1px solid lightgrey;">
         <span class="wifiIcon"><img src= "img/Icons/credits_NoBG.png" class="profileIcons"></span>
           <p>Your credit is: {{user.credits}}</p>
        </div>
      </ion-item>

      <ion-item ng-show="wifiPremium" class="profileItem" id="wifiInfo">
        <span class="wifiIcon"><img src= "img/Icons/wifi_NoBG.png" class="profileIcons"></span>
          <p>Wifi: {{wifiPremium.wifiName}}</p>
          <p>Password: {{wifiPremium.wifiPassword}}</p>
      </ion-item>

      <ion-item ng-hide="wifiPremium" class="profileItem" id="wifiInfo">
         <span class="wifiIcon"><img src= "img/Icons/wifi_NoBG.png" class="profileIcons"></span>
        <div>
          <p>Wifi: {{wifiMember.wifiName}}</p>
          <p>Password: {{wifiMember.wifiPassword}}</p>
        </div>
      </ion-item> -->

      <ion-item class="profileItem">
        <!-- <span  class="ion-calendar"></span>
          <span class="item-note">
            <button class="bookingButton button button-small button-outline button-dark" ng-click="bookings = !bookings">
             <p  class="readMore" ng-if="!bookings">Upcoming Events</p>
             <p class="readMore" ng-if="bookings">Hide Events</p>
            </button>
          </span> -->
          <div>
            <h2 class="text-center" ng-show="!bookedQty">No upcoming events</h2>
            <ion-list>
              <ion-item class="bookedItems" ng-repeat="event in isBooked" ng-style="bookedQty == 1 ? {'border': 'none'} : ''">
                <div id="bookingsDateContainer">
                  <div class="dateBox">
                    <p id="bookingDay" class="bookingsDate">{{event.date | date : 'd'}}</p>
                    <p id="bookingMonth" class="bookingsDate">{{event.date | date : 'MMM'}}</p>
                  </div>
                </div>
                <div id="bookingsDesc">
                  <h3>{{event.title}}</h3>
                  <h4>{{event.location}}</h4>
                </div>
              </ion-item>
            </ion-list>
          </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
