<ion-content overflow-scroll="false" class="expandList" ng-style="{'background-color':'white'}">
  <ion-refresher on-refresh="doMemberRefresh()">

  </ion-refresher>
  <!-- Innehåll för slide ett -->
  <div class="list card">
    <h2>People @ Djakne</h2>
  <div class="item">
    <img id="homeAvatar" ng-click="openModal(member)" ng-repeat="member in members | limitTo: 6" ng-src="data:image/jpeg;base64,{{member.image}}"></img>
  </div>
</div>
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/Icons/home/coffee_black.png">
        <div class="event-header">
          <h2>This weeks coffee!</h2>
          <h4>{{ rating.startDate | date:'d MMMM' }}</h4>
        </div>
      </div>
      <div class="item item-body">
        <h2>{{rating.title}}</h2>
        <img class="event-img" ng-src="{{rating.image}}">
        <p>
          <a ng-click="openCoffeeModal(coffee)" class="subdued">Read More</a>
        </p>
      </div>

      </div>

      <!-- News card -->
      <div ng-repeat="issue in issues"class="list card">
        <div class="item item-avatar">
          <img src="img/Icons/home/news_black.png">
          <div class="event-header">
            <h2>{{issue.issue}}</h2>
          </div>
        </div>

        <div class="list">

          <div ng-repeat="letter in issue.letters" class="item item-body">
            <h2>{{letter.title}}<h2>
            <p>{{letter.description | limitTo: 200 }}...<p>
            <hr>
          </div>
          <p>
            <a ng-click="openNewsModal()" class="subdued">Read More</a>
          </p>
        </div>
      </div>
  </ion-content>
