<ion-view view-title=".Co">

  <ion-nav-buttons side="left">
    <button class="button button-icon ion-ios-arrow-left" ui-sref="tab.home"></button>
  </ion-nav-buttons>

<ion-content overflow-scroll="true" ng-style="{ 'background-image': 'url(img/coBackground1.jpg)' }">
<div class="filter">
    <h2 class="co-title">Co-Working</h2>

    <p class="desc_text">Djäkne är platsen för att möten och jobb. En plats för kreativa och drivna nytänkare.
      Huset är fyllt med kreativitet och startups och vi välkomnar dig till att joina vår gemenskap.
    </p>


    <div class="text-center">
      <button ng-click="toggleElement()" class="button button-block button-dark">Våra medlemskap</button>
    </div>

    <div ng-show="isVisible" class="item-image padding">
      <img class="membership" src="img/medlemskap.png">
      <p class="desc_text">...</p>
    </div>

    <ion-list>
        <ion-item class="menuCard" ng-click="gotoeventMain()">
            <h3 class="coworkTitle">Events</h3>
        </ion-item>

        <ion-item  class="menuCard" ng-click="gotoBoard()">
            <h3 class="coworkTitle text-center">Note board</h3>
        </ion-item>

        <ion-item class="menuCard" ng-click="gotoNews()">
            <h3 class="coworkTitle text-center">News</h3>
        </ion-item>

    </ion-list>

</div>
  </ion-content>
</ion-view>
