<ion-view title="Djäkne">
  <ion-nav-buttons side="right">
    <!-- <button class="button icon-left ion-heart button-outline" ng-click="openFavoriteModal()" ng-style="userFavorites ? {'color':'#FF7E7E'} : {'color':'white'}" ng-disabled="favoritesSize() === 0" ng-style="">
    </button> -->
    <button class="button icon-left ion-android-person button-outline" ui-sref="profile" ng-style=""></button>
      <!-- <button class="button icon-left ion-android-calendar button-outline" ui-sref="calendar"></button> -->
  </ion-nav-buttons>
<ion-content scroll="false" has-bouncing="false">
  <!-- <div ng-style="{ 'height':'120px','width':'100%','background-color':'#444'}">
    <img id="logo" ng-src="{{icon.src}}"></img>
  </div> -->
    <ion-slide-box on-slide-changed="changeLogo()"show-pager="false" ion-slide-tabs>
      <!-- Slide ett -->
        <ion-slide ion-slide-tab-label="Recent">
          <div ng-include="'templates/recent.html'">

            <!-- CHECKED-IN MODAL -->

            <script id="modal.html" type="text/ng-template">
              <ion-modal-view>
                <ion-header-bar class="bar-dark">
                  <button class="button button-icon ion-ios-arrow-left" ng-click="closeModal()"></button>
                  <h1 class="title">Member</h1>
                </ion-header-bar>
                <ion-content>
                  <div class="hero text-center" style="background: #444">
                    <div class="content">
                      <img class="avatar" ng-src="data:image/jpeg;base64,{{member.image}}"></img>
                      <p><a id="profileTitle">{{member.firstName}} {{member.lastName}}</a></p>
                    </div>
                  </div>
                    <div class="list">
                    <label class="item item-stacked-label" ng-style="{ 'box-shadow':'none', 'border-bottom': '1px solid lightgrey' }">
                      <span>Work</span>
                      <p>{{member.headline | limitTo:45}}</p>
                    </label>
                    <label class="item item-stacked-label" ng-style="{ 'box-shadow':'none', 'border-bottom': '1px solid lightgrey' }">
                      <span>Interests</span>
                      <p>{{member.interests}}</p>
                      <p ng-show="member.interests.length === 0">None given.</p>
                    </label>
                    <label class="item item-stacked-label" ng-style="{ 'box-shadow':'none', 'border-bottom': '1px solid lightgrey' }">
                      <span>Lives</span>
                      <p>{{member.location}}</p>
                    </label>
                  </div>
                </ion-content>
              </ion-modal-view>
            </script>

              <!-- COFFEE MODAL -->

              <script id="currentCoffee.html" type="text/ng-template">
                <ion-modal-view>
                <ion-header-bar class="bar-dark">
                  <button class="button button-icon ion-ios-arrow-left" ng-click="closeCoffeeModal()"></button>
                  <h1 class="title">This weeks coffee!</h1>
                </ion-header-bar>

                  <ion-content>
                    <div class="list card">
                      <div class="item item-avatar">
                        <img src="img/Icons/home/coffee_black.png">
                        <div class="event-header">
                          <h2>{{rating.title}}</h2>
                          <h4>{{ rating.startDate | date:'d MMMM' }}</h4>
                        </div>
                      </div>
                      <div class="item item-body">
                        <img class="event-img" ng-src="{{rating.image}}">
                        <p ng-style="{'text-align':'left', 'width':'90%', 'margin':'0 auto'}">{{rating.description}}</p>
                        <h2 id="ratingTitle">Vote for this weeks coffee!</h2>
                        <ionic-ratings ratingsobj='ratingsObject'></ionic-ratings>
                        <div class="text-center padding">
                          <button ng-style="{'padding':'5px 10px 5px 10px', 'margin-top':'10px'}" class="button button-small button-outline button-assertive" ng-click="send()">SUBMIT</button>
                        </div>
                      </div>
                    </div>
                    </div>
                 </ion-content>
                </ion-modal-view>
              </script>

<!-- News Modal -->
              <script id="currentNews.html" type="text/ng-template">
                <ion-modal-view>
                <ion-header-bar class="bar-dark">
                  <button class="button button-icon ion-ios-arrow-left" ng-click="closeNewsModal()"></button>
                  <h1 class="title">Latest news</h1>
                </ion-header-bar>

                <ion-content>
                  <div ng-repeat="issue in issues" class="list card">
                    <div class="item item-avatar">
                      <img src="img/Icons/home/news_black.png">
                      <div class="event-header">
                        <p>{{issue.title}}<p>
                      </div>
                      <div class="text-center padding">
                          <h2>{{issue.issue}}</h2>
                      </div>
                      <div class="list">

                        <div ng-repeat="letter in issue.letters" class="item item-body">
                          <h2>{{letter.title}}<h2>
                          <p>{{letter.description}}<p>
                          <hr>
                        </div>
                      </div>
                    </ion-content>

                </ion-modal-view>
              </script>


          </div>
        </ion-slide>
        <!-- Slide två -->
        <ion-slide ion-slide-tab-label="Co-work">
          <!-- Innehåll slide två -->
          <div ng-include="'templates/co_work.html'"></div>
        </ion-slide>
        <!-- Slide tre -->
        <ion-slide ion-slide-tab-label="Events">
          <!-- Innehåll slide tre -->
          <div ng-include="'templates/events.html'"></div>
      </ion-slide>
    </ion-slide-box>
</ion-content>
