<ion-view view-title="Menu">
  <ion-nav-buttons side="right">
    <div ng-click="cartQty === 0 || go('cart')">
      <button class=" button button-icon ion-bag"></button>
      <div class="circle" ng-show="cartQty > 0">{{cartQty}}</div>
    </div>
  </ion-nav-buttons>
 <ion-content>
   <ul class="list">
     <li class="item product-name" ng-repeat="favourite in favourites">
      {{favourite.name}}
     </li>
   </ul>
     <ul class="list">
       <li class="item product-name" ng-repeat="product in products">
         <img src="img/remove.svg" id="icon-remove" class="cart-icon" ng-show="inCart(product) >= 0" ng-click="removeFromCart(product)"/>
         <div class="row">
           <div class="col col-75">
             <h3 ng-click="showme = !showme">{{product.name}}</h3>
             <p class="product-desc" ng-show="showme">This is a product description..</p>
           </div>
           <div class="col col-25">
             <p class="product-price">{{product.price}} kr</p>
           </div>
         </div>
         <img src="img/add.svg" id="icon-add" class="cart-icon" ng-click="addToCart(product)"></img>
       </li>
     </ul>
     <ion-toggle ng-model="specials[1].checked" value="takeaway" ng-checked="updateLocalStorage()"><h3>{{specials[1].name}}</h3></ion-toggle>
 </ion-content>
</ion-view>
