<ion-view title="Djäkne">
<ion-content scroll="false">
  <div ng-style="{ 'height':'170px','width':'100%','background-color':'#444' }">
    <img id="logo" src="img/signs.png"></img>
  </div>
    <ion-slide-box show-pager="false" ion-slide-tabs>
      <!-- Slide ett -->
        <ion-slide ion-slide-tab-label="Recent">
          <ion-content scroll="true">
            <!-- Innehåll för slide ett -->
              <div class="list card">
                <div class="item item-avatar">
                  <img  src="img/profile.jpg">
                  <div class="event-header">
                    <h2>Afterwork på Pinchos</h2>
                    <p>Maj 02, 2016</p>
                  </div>
                </div>
                <div class="item item-body">
                  <img class="event-img" src="http://glitzy.shapemeup.se/files/2015/11/pinchos.jpg">
                  <p>
                    This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                    the content is from a card-body consisting of an image and paragraph text. The footer
                    consists of tabs, icons aligned left, within the card-footer.
                  </p>
                  <p>
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">5 Comments</a>
                  </p>
                </div>
              </div>

              <div class="list card">
                <div class="item item-avatar">
                  <img src="img/profile.jpg">
                  <div class="event-header">
                    <h2>Afterwork på Pinchos</h2>
                    <p>Juni 07, 2016</p>
                  </div>
                </div>

                <div class="item item-body">
                  <img class="event-img" src="http://glitzy.shapemeup.se/files/2015/11/pinchos.jpg">
                  <p>
                    This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                    the content is from a card-body consisting of an image and paragraph text. The footer
                    consists of tabs, icons aligned left, within the card-footer.
                  </p>
                  <p>
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">5 Comments</a>
                  </p>
                </div>
              </div>
            </ion-content>
        </ion-slide>
        <!-- Slide två -->
        <ion-slide ion-slide-tab-label="News">
          <!-- Innehåll slide två -->
          <h1>Tab 2</h1>
        </ion-slide>
        <!-- Slide tre -->
        <ion-slide ion-slide-tab-label="Events">
          <!-- Innehåll slide tre -->
          <h1>Tab 3</h1></ion-slide>
        <!-- Slide fyra -->
        <ion-slide ion-slide-tab-label="Members">
          <!-- Innehåll slide fyra -->
          <h1>Tab 4</h1>
        </ion-slide>
    </ion-slide-box>
</ion-content>
</ion-view>
