<ion-view title="Djäkne">
  <ion-nav-buttons side="right">
      <button class="button icon-left ion-android-person button-outline" ui-sref="profile" ng-style=""></button>
      <!-- <button class="button icon-left ion-android-calendar button-outline" ui-sref="calendar"></button> -->
  </ion-nav-buttons>
<ion-content scroll="false" class="homeSlider">
  <div ng-style="{ 'height':'155px','width':'100%','background-color':'#444'}">
    <img id="logo" ng-src="{{icon.src}}"></img>
  </div>
    <ion-slide-box on-slide-changed="changeLogo()"show-pager="false" ion-slide-tabs>
      <!-- Slide ett -->
        <ion-slide ion-slide-tab-label="Recent">
          <div ng-include="'templates/recent.html'">

            <!-- CHECKED-IN MODAL -->

            <script id="modal.html" type="text/ng-template">
              <ion-modal-view>
                <ion-header-bar class="bar-dark">
                  <h1 class="title">{{member.firstName}} {{member.lastName}}</h1>
                  <button class="button icon icon-right ion-ios-close-outline" ng-click="closeModal()"></button>
                </ion-header-bar>

                <ion-content>
                  <div class="hero text-center" style="background: #444">
                    <div class="content">
                      <img class="avatar" ng-src="data:image/jpeg;base64,{{member.image}}"></img>
                    </div>
                  </div>
                    <div class="list">
                    <label class="item item-stacked-label" ng-style="{ 'box-shadow':'none', 'border-bottom': '1px solid lightgrey' }">
                      <span>Work</span>
                      <p>{{member.headline}}</p>
                    </label>
                    <label class="item item-stacked-label" ng-style="{ 'box-shadow':'none', 'border-bottom': '1px solid lightgrey' }">
                      <span>Interests</span>
                      <p>{{member.interests}}</p>
                    </label>
                    <label class="item item-stacked-label" ng-style="{ 'box-shadow':'none', 'border-bottom': '1px solid lightgrey' }">
                      <span>Lives</span>
                      <p>{{member.location}}</p>
                    </label>
                  </div>
                </ion-content>
              </ion-modal-view>
            </script>

              <!-- COFFEE MODAL -->

              <script id="currentCoffee.html" type="text/ng-template">
                <ion-modal-view>
                <ion-header-bar class="bar-dark">
                  <h1 class="title">Veckans kaffe</h1>
                  <button class="button icon icon-right ion-ios-close-outline" ng-click="closeCoffeeModal()"></button>
                </ion-header-bar>

                  <ion-content>
                    <div class="list card">
                      <div class="item item-avatar">
                        <img src="img/Icons/home/coffee_black.png">
                        <div class="event-header">
                          <h2>{{rating.title}}</h2>
                          <h5>{{rating.startDate | date:'MM/dd/yyyy'}}</h5>
                        </div>
                      </div>
                      <div class="item item-body">
                        <img class="event-img" ng-src="{{rating.image}}">
                        <p>{{rating.description}}</p>
                        <h1 class="coffeeVote">Vote!</h1>
                        <ionic-ratings ratingsobj='ratingsObject'></ionic-ratings>
                        <div class="text-center padding">
                          <button class="button button-block button-dark vote" ng-click="send()">Submit your rating</button>
                        </div>
                      </div>
                    </div>
                    </div>
                 </ion-content>
                </ion-modal-view>
              </script>

          </div>
        </ion-slide>
        <!-- Slide två -->
        <ion-slide ion-slide-tab-label="Co-work">
          <!-- Innehåll slide två -->
          <div ng-include="'templates/co_work.html'"></div>
        </ion-slide>
        <!-- Slide tre -->
        <ion-slide ion-slide-tab-label="Events">
          <!-- Innehåll slide tre -->
          <div ng-include="'templates/events.html'"></div>
      </ion-slide>
    </ion-slide-box>
</ion-content>
