<ion-view view-title="Social">


  <ion-content>

    <h2 class="social-title">Händer på Djäkne</h2>

    <p class="desc_text"> Ta del av gemenskapen på Djäkne! Inte medlem? Inga problem, alla är välkomna!</p>

  <div class="text-center padding">
    <button class="button button-block button-dark" ui-sref="addEvent">Skapa event</button>
  </div>

<!--
  <div class="card">
        <ul class="list">

          <li class="item product-name" ng-repeat="event in events">
            <div class="item item-thumbnail-left">
                <div class="col col-75">
                  <a class="default" ui-sref="events_description" ng-click="setEvent(event)">
                      <h2>{{event.title}}</h2>
                      <h4>{{event.date | date:'MM/dd/yyyy'}}</h4>

                      <img src="img/coWorking.png">
                      <p>{{event.text}}</p>
                  </a>
                </div>
            </div>
          </li>
        </ul>
  </div>

-->

<div class="list">

  <a ng-repeat="event in events"
     class="item item-thumbnail-left"
     ui-sref="events_description"
     ng-click="setEvent(event)">

  <div class="padding thumbnail">

      <h2>{{ event.title }}</h2>
      <h3>{{ event.date | date:'MM/dd/yyyy' }}</h3>
      <p>{{event.text}}</p>
  </div>

  </a>

</div>



  </ion-content>

</ion-view>
