<ion-view view-title=".Co">

  <ion-nav-buttons side="left">
    <button class="button button-icon ion-ios-arrow-left" ui-sref="tab.home"></button>
  </ion-nav-buttons>

  <ion-content class="padding">
    <h2 class="co-title">Co-Working</h2>

    <p class="desc_text">Djäkne är platsen för att möten och jobb. En plats för kreativa och drivna nytänkare.
      Huset är fyllt med kreativitet och startups och vi välkomnar dig till att joina vår gemenskap.
    </p>


    <div class="text-center">
      <button ng-click="toggleElement()" class="button button-block button-dark">Våra medlemskap</button>
    </div>




    <div ng-show="isVisible" class="item-image padding">
      <img class="membership" src="img/medlemskap.png">
      <p class="desc_text">...</p>
    </div>


    <div class="list card padding" ng-click="gotoeventMain()">
        <h2 class="coCard">Events</h2>
        <div class="item item-body">
              <span class="cardDescs">Events @ Djäkne</span>
        </div>
    </div>

    <div class="list card padding" ng-click="gotoBoard()">
        <h2 class="coCard">Note board</h2>
        <div class="item item-body">
              <span class="cardDescs">Stuff @ Djäkne</span>
        </div>
    </div>

    <div class="list card padding" ng-click="gotoNews()">
        <h2 class="coCard">News</h2>
        <div class="item item-body">
              <span class="cardDescs">News @ Djäkne</span>
        </div>

    </div>


  </ion-content>
</ion-view>
