<ion-view view-title=".Co">

  <ion-nav-buttons side="left">
    <button class="button button-icon ion-ios-arrow-left" ui-sref="tab.home"></button>
  </ion-nav-buttons>

<ion-content ng-style="{ 'background-image': 'url(img/cowork.jpg)' }" id="backgroundCo">


    <div class="box">
      <h2 class="co-title">Co-Working</h2>
      <p class="pbox">Djäkne är platsen för att möten och jobb. En plats för kreativa och drivna nytänkare.
        Huset är fyllt med kreativitet och startups och vi välkomnar dig att joina vår gemenskap!

        <button ng-click="toggleElement()" class="button button-outline icon-right icon ion-chevron-down" id="cowork">Läs om våra medlemskap</button>
      </p>
    </div>


    <div ng-show="isVisible" class="item-image padding">
      <img class="membership" src="img/medlemskap.png">
      <p class="desc_text">...</p>
    </div>

    <ion-list>
        <ion-item class="menuCard" ng-click="gotoeventMain()">
            <h3 class="coworkTitle">Events</h3>
        </ion-item>

        <ion-item  class="menuCard" ng-click="gotoBoard()">
            <h3 class="coworkTitle text-center">Anslagstavla</h3>
        </ion-item>

        <ion-item class="menuCard" ng-click="gotoNews()">
            <h3 class="coworkTitle text-center">Nyheter</h3>
        </ion-item>

    </ion-list>

  </ion-content>
</ion-view>
