<ion-view view-title="Social">

  <ion-content>
    <h2> Händer på Djäkne </h2>

    <p> Intro text dolor sit amet, consectetur adipisicing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam. </p>
    <img id="CoWork" src="img/coWorking.png">

    <!-- Detta ska hanteras med ng repeat
        eventes ska sedan hämtas in via APIet -->

        <div class="card">
          <a class="item item-thumbnail-left" ui-sref="events_description">
            <div>
              <h2>Gemensam lunch</h2>
              <p>DATUM: 3 april</p>
            </div>
          </a>
        </div>

        <div class="card">
          <a class="item item-thumbnail-left" ui-sref="events_description">
            <div>
              <h2>AW på Djäkne</h2>
              <p>DATUM: 3 april</p>
            </div>
          </a>
        </div>

  </ion-content>

</ion-view>
