/* Empty. Add your own CSS if you like */
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:100);

body {
  font-family: Georgia, Times, "Times New Roman", serif !important;
  color: #222222;
}

div.scroll{
  height:100%;
}

.list{
  height:100%;
}

.containerCartIcons {
  display:flex;
  float: right;
}

.containerCartIcons h1#qty-amount {
  margin:0;
}

.cartIcon {
  min-width: 45px !important;
  max-width: 45px !important;
  line-height: 0 !important;
  margin: 0 10px;
}

#add {
  float:right;
}

#remove {
  float:left;
}

h1 {
  text-align: center;
  margin-top: 10px;
  font-family: Georgia, Times, "Times New Roman", serif !important;
  color: #222222;
  line-height: 1.6;
}

ion-view {
  position:relative;
}


.heart {
  font-size:40px;
  color:red !important;
}

/* Profile */

.hero{
    height: 230px;

}

.hero h3 {
  margin-top:0;
}

#iconSettings {
  display:flex;
  margin-top: 10px 0;
  background-color: #e42112;
}

#iconSettings .icon {
  color: white;
  font-size: 30px;
}

#iconSettings a {
  color: white;
}

.content {
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1;
  top: 30px;
}

.content h4 {
  font-size: 14px;
}

#profileTitle {
  color: black;
}

.avatar {
  height: 88px;
  width: 88px;
  background-position: center;
  border: 1px solid rgba(255,255,255,.8);
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
  left: auto;
  background-size: contain;
}

/* MENU */

/* Product Information */

.product-title{
  font-weight: 400 !important;
  font-size:22px !important;
  color: black;
  /*font-family: 'Alegreya Sans', sans-serif !important;*/
}

.product-price{
  font-size: 14px !important;
}

.productInfo{
  width:60%;
  display:inline-block;
  float:left;
}

/* Container for add and buy button */

.buttonContainer{
  float:right;
}

/* Items in menu template */

.menuCard{
  width:100%;
  height:23%;
  position:relative;
  background-color: rgba(000, 000, 000, 0.3);
}

.product:first-of-type{
  border-top: none !important;
}

.product:last-of-type{
  border-bottom: none !important;
}

.item-expand:last-child {
  border-top: 1px solid #e2e2e2;
  border-bottom:none;
}

.item-expand {
  position: relative;
  width: 100%;
  transition: height 0.1s ease-out;
  overflow: hidden;
  border-bottom: 1px solid #e2e2e2;
}

.item-expand.inactive:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 10%;
  width: 100%;
  display: block;
}

.item-expand.active {
  height: auto;
  transition: height 0.3s ease-out;

}

.item {
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  margin-bottom: 3%;
  border: none;
  box-shadow: 3px 5px 5px rgba(51, 51, 51, 0.40);
  display: block !important;
}
/* Title in menu cards */

h3.menuTitle.ng-binding {
  margin-top: 10% !important;
  font-family: 'Alegreya Sans', sans-serif !important;
  font-size: 36px;
  color: white;
}

h3.menuTitle.favourites{
  margin-top: 10%;
  text-align: center;
  font-family: 'Alegreya Sans', sans-serif !important;
  font-size: 36px;
  color: white;
}

/* Login template */

.slider {
  height: 100%;
}
.slider-slide {
  color: #000;
  font-weight: 300;
  position: relative;
  background-repeat:no-repeat;
  background-size:cover;
}

.slider-pager {
  bottom: 70px;
}

ion-slide p {
  width: 330px;
  margin: 0 auto;
}

.text-login-container {
  top:350px;
  bottom:0;
  left:0;
  right:0;
  z-index:1;
  position:absolute;
  margin: auto;
}

.text-login-container h3 {
  font-size: 28px;
  font-family: Georgia, Times, "Times New Roman", serif !important;
}


/* Color overlay on background image */

.login:after {
  background-color: white;
  height: 100%;
  width: 100%;
  content: ' ';
  opacity: 0.6;
  position:absolute;
  z-index:0;
  top: 0;
  left: 0;
}

.login-container {
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  z-index: 3 !important;
}

.login-container h1 {
  font-size: 55px;
  margin-bottom: 0;
  font-family: Georgia, Times, "Times New Roman", serif !important;
}

/* Login - subtitle */

.login-button-container {
  position: relative;
  bottom:60px;
  margin: 0 auto;
}

.login-button-container button {
  background-color: #0076B7!important;
  border-radius: 0%!important;
}

/* Home/Djäkne template */

.home img {
  display: block;
  margin: 0 auto;
}

.home h3 {
  font-family: 'Alegreya Sans', sans-serif;
  text-align: center;
}

.home h5 {
  font-family: 'Alegreya Sans', sans-serif;
  text-align: center;
}

.home p {
  font-family: 'Alegreya Sans', sans-serif;
  text-align: center;
  color: #222222;
  padding: 12px;
  font-size: 18px;
  font-weight: 600;
}


/* List item content - menu template / cart template */


.products {
  background: none;
}


.row {
  padding: 0;
}

.product-desc {
  display:block;
  font-size:12px;
}

/* Nav buttons */

.circle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  text-align: center;
  font-size:9px;
  position:absolute;
  right:3px;
  top:8px;
  z-index:1;
  color:white;
  background-color:#444;
  line-height: 15px;
}



.cart-icon {
  height:30px;
  width: 30px;
}

/* Icons for adding and removing items - menu template */


.productInfo.cart{
  font-size: 8px !important;
  width: 150px !important;
}

.toggleSpecials:last-child{
  border-top-style: solid;
  border-radius: 0.1px;
}

.toggleSpecials{
  box-shadow: none !important;
}
/* Product total - cart template */

.cart-total-container {
  height: 50px;
  width:100%;
}

.total-desc {
  float:right;
}

#cart-total-title {
  float: left;
  margin:0;
}

#cart-total-price {
  float:left;
  margin:0 5px;
  font-size:20px;
  line-height: 20px;
  font-family: initial;
  color: #444;
}

/* Item quantity - cart template */


.qty-container {
  width: auto;
  display: inline-flex;
  margin-top: -4px;
  float: right;
  margin-right: 4px;
}

.qty-symbol {
  width: auto;
  text-align: center;
  line-height: 36px;
}

#qty-amount {
  margin: 0 10px;
  font-size: 27px;
}

#qty-amount span {
  font-size:16px;
}

#addOne {
  font-size:25px;
  margin-left: 5px;
}

#removeOne {
  font-size:30px;
  margin-right: 5px;

}

/* Profile template */

.profile h3 {
  text-align: center;
  margin-top: 10px;
}

.ionic_ratings .icon {
   font-size: 50px;
 }
