/* Empty. Add your own CSS if you like */
.item
{
  display: flex;
  padding-left: 5px;
  padding-right: 5px;
}

.row
{
  padding: 0;
}

/* List item content - menu template / cart template */

.product-price
{
  text-align: center;
}
.product-desc
{
  display:block;
  font-size:12px;
}

/* Nav buttons */

.circle
{
  height: 15px;
  width: 15px;
  border-radius: 50%;
  text-align: center;
  font-size:9px;
  position:absolute;
  right:3px;
  top:8px;
  z-index:1;
  color:white;
  background-color:#444;
  line-height: 15px;
}


.cart-icon
{
  height:40px;
  width: 40px;
}

/* Icons for adding and removing items - menu template */

img#icon-remove
{
  margin-right:9px;
}

img#icon-add
{
  margin-left:9px;
  margin-right:6px;
}

/* Product total - cart template */


.cart-total-container
{
  height: 50px;
  width:100%;
}

.total-desc
{
  float:right;
}

#cart-total-title
{
  float: left;
  margin:0;
}

#cart-total-price
{
  float:left;
  margin:0 5px;
  font-size:20px;
  line-height: 20px;
  font-family: initial;
  color: #444;
}

/* Item quantity - cart template */


.qty-container
{
  width: auto;
  display: inline-flex;
  margin-top: -4px;
  float: right;
  margin-right: 4px;
}

.qty-symbol
{

  width: auto;
  text-align: center;
  line-height: 36px;
}

#qty-amount
{
  margin: 0;
}

#addOne
{
  font-size:25px;
  margin-left: 5px;
}

#removeOne
{
  font-size:30px;
  margin-right: 5px;

}

/* Profile template */

.profile h3 {
  text-align: center;
  margin-top: 10px;
}

.ionic_ratings .icon {
   font-size: 50px;
 }

/* Testkod för Social-tabben (event branch) */
h2.main {
  padding-left:10px;
  padding-top: 14px;
  font-size: 22px;
  text-transform: uppercase;
  font-family: Georgia, serif;
}

 .card h2 {
   font-size: 20px;
 }

 .card h4 {
   font-size: 16px;
   color: #aaa;
   font-family: Georgia, serif;
 }

a.default {
   text-decoration: none;
 }

p.desc_text {
   font-size: 15px;
   text-align: center;
   font-style: italic;
   padding-bottom: 13px;
   font-family: Georgia, serif;
 }

 img#CoWork {
   height: 250px;
   padding: 20px;
 }

 .addEvent-title {
    font-style: bold;
    text-align: center;
    font-family: Georgia, serif;
    padding-top: 30px;

 }

 .social-title {
    font-style: bold;
    text-align: center;
    padding-top: 20px;
    font-family: Georgia, serif;

 }


 .coCard {
  text-align: center;
  font-family: Georgia, serif;

}

.cardDescs {
  font-family: Georgia, serif;

}

.co-title {
   font-family: Georgia, serif;
   text-align: center;
   padding-top: 10px;

}

.list.card.padding {

   box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);

}

 /* Event pages */

 .button.button-block.button-dark {
    font-weight:bold;
    font-family: Georgia, serif;

 }

 .full-image{
    height: 150px;

 }

 .row p{
   padding-top: 15px;
   font-size: 16px;
   font-family: Georgia, serif;

 }

 .border {

   border: none;
   border-top: 1px solid grey !important;
   border-bottom: 1px solid grey !important;
 }

 .padding.test h4 {
    font-family: Georgia, serif;

 }

 .padding.test h3 {
    font-family: Georgia, serif;

 }

 .padding.thumbnail h2, h3 {
   font-family: Georgia, serif;

 }
