/* Empty. Add your own CSS if you like */

@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:100);

body {
  font-family: Georgia, Times, "Times New Roman", serif !important;
  color: #222222;
}

h1 {
  text-align: center;
  margin-top: 10px;
  font-family: Georgia, Times, "Times New Roman", serif !important;
  color: #222222;
  line-height: 1.6;
}

ion-view {
  position:relative;
}

.slider {
  height: 100%;
}
.slider-slide {
  color: #000;
  font-weight: 300;
  position: relative;
  background-repeat:no-repeat;
  background-size:cover;
}

.slider-pager {
  bottom: 70px;
}

ion-slide p {
  width: 330px;
  margin: 0 auto;
}

.text-login-container {
  top:350px;
  bottom:0;
  left:0;
  right:0;
  z-index:1;
  position:absolute;
  margin: auto;
}

.text-login-container h3 {
  font-size: 28px;
  font-family: Georgia, Times, "Times New Roman", serif !important;
}


/* Color overlay on background image */

.login:after {
  background-color: white;
  height: 100%;
  width: 100%;
  content: ' ';
  opacity: 0.6;
  position:absolute;
  z-index:0;
  top: 0;
  left: 0;
}

.login-container {
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  z-index: 3 !important;
}

.login-container h1 {
  font-size: 55px;
  margin-bottom: 0;
  font-family: Georgia, Times, "Times New Roman", serif !important;
}

/* Login - subtitle */

.login-button-container {
  position: relative;
  bottom:60px;
  margin: 0 auto;
}

.login-button-container button {
  background-color: #0076B7!important;
  border-radius: 0%!important;
}

/* Home/Djäkne template */

.home img {
  display: block;
  margin: 0 auto;
}

.home h3 {
  font-family: 'Alegreya Sans', sans-serif;
  text-align: center;
}

.home h5 {
  font-family: 'Alegreya Sans', sans-serif;
  text-align: center;
}

.home p {
  font-family: 'Alegreya Sans', sans-serif;
  text-align: center;
  color: #222222;
  padding: 12px;
  font-size: 18px;
  font-weight: 600;
}


/* List item content - menu template / cart template */

.item {
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  margin-bottom: 5px;
  border: none;
  box-shadow: 5px 10px 10px rgba(51, 51, 51, 0.40);
}

.row {
  padding: 0;
}

.product-price {
  text-align: center;
}
.product-desc {
  display:block;
  font-size:12px;
}

/* Nav buttons */

.circle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  text-align: center;
  font-size:9px;
  position:absolute;
  right:3px;
  top:8px;
  z-index:1;
  color:white;
  background-color:#444;
  line-height: 15px;
}



.cart-icon {
  height:40px;
  width: 40px;
}

/* Icons for adding and removing items - menu template */

img#icon-remove {
  margin-right:9px;
  width: 20px;
  height: 20px;
  vertical-align: bottom!important;
}

img#icon-add {
  margin-left:9px;
  margin-right:6px;
  width: 25px;
  height: 25px;
  vertical-align: bottom!important;
}

/* Product total - cart template */


.cart-total-container {
  height: 50px;
  width:100%;
}

.total-desc {
  float:right;
}

#cart-total-title {
  float: left;
  margin:0;
}

#cart-total-price {
  float:left;
  margin:0 5px;
  font-size:20px;
  line-height: 20px;
  font-family: initial;
  color: #444;
}

/* Item quantity - cart template */


.qty-container {
  width: auto;
  display: inline-flex;
  margin-top: -4px;
  float: right;
  margin-right: 4px;
}

.qty-symbol {
  width: auto;
  text-align: center;
  line-height: 36px;
}

#qty-amount {
  margin: 0;
}

#addOne {
  font-size:25px;
  margin-left: 5px;
}

#removeOne {
  font-size:30px;
  margin-right: 5px;

}

/* Profile template */

.profile h3 {
  text-align: center;
  margin-top: 10px;
}

.ionic_ratings .icon {
   font-size: 50px;
 }
